---
layout: home
title: mintakson.com
description: officialy private space
headline: Nerds Feeder
tags: [Mintak, Son]
---
{% if site.paginate %}
	{% for post in paginator.posts %}
    <article class="notepad-index-post post row">
        <div class="small-12 medium-3 large-2 columns datetime">
            <span class="notepad-post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    <span class="day">
                        {{ post.date | date: "%d" }}
                    </span>
                    <span class="month-year">
                        {{ post.date | date: "%B %Y" }}
                    </span>
                </time>
            </span>
        </div>
        <div class="small-12 medium-9 large-10 columns">
            <header class="notepad-post-header">
                <h3 class="notepad-post-title">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
            </header>
            <section class="notepad-post-excerpt">
                <p>{{ post.content | strip_html | truncatewords:40 }}</p>
            </section>

                <div class="notepad-index-post-tags">
                {% for tag in post.categories %}<a href="{{ site.baseurl }}/categories/index.html#{{ post.categories | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}

                </div>

        </div>
    </article>
	{% endfor %}
    <nav class="pagination" role="navigation">
	    {% if paginator.previous_page %}
		    {% if paginator.previous_page == 1 %}
		    	<a class="newer-posts" href="{{ site.baseurl }}"><i class="fa fa-chevron-left"></i> Newer</a>
		    {% else %}
		    	<a class="newer-posts" href="{{ site.baseurl }}/page{{ paginator.previous_page }}"><i class="fa fa-chevron-left"></i> Newer</a>
		    {% endif %}
			{% else %}
	    	<span class="newer-posts faded"><i class="fa fa-chevron-left"></i> Newer</span>
	    {% endif %}


	    	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	    {% if paginator.next_page %}
	      <a class="older-posts" href="{{ site.baseurl }}/page{{ paginator.next_page }}/">Older <i class="fa fa-chevron-right"></i></a>
	    {% else %}
	    	<span class="older-posts faded">Older <i class="fa fa-chevron-right"></i></span>
	    {% endif %}
		</nav>
{% else %}
	{% for post in site.posts %}
    <article class="notepad-index-post post row">
        <div class="small-12 medium-3 large-2 columns datetime">
            <span class="notepad-post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    <span class="day">
                        {{ post.date | date: "%d" }}
                    </span>
                    <span class="month-year">
                        {{ post.date | date: "%B %Y" }}
                    </span>
                </time>
            </span>
        </div>
        <div class="small-12 medium-9 large-10 columns">
            <header class="notepad-post-header">
                <h3 class="notepad-post-title">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
            </header>
            <section class="notepad-post-excerpt">
                <p>{{ post.content | strip_html | truncatewords:100 }}</p>
            </section>

                <div class="notepad-index-post-tags">
                {% for tag in post.categories %}<a href="{{ site.baseurl }}/categories/index.html#{{ post.categories | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}

                </div>

        </div>
    </article>
	{% endfor %}
{% endif %}

{% assign total_words = 0 %}
{% assign total_readtime = 0 %}
{% assign featuredcount = 0 %}
{% assign statuscount = 0 %}

{% for post in site.posts %}
    {% assign post_words = post.content | strip_html | number_of_words %}
    {% assign readtime = post_words | append: '.0' | divided_by:200 %}
    {% assign total_words = total_words | plus: post_words %}
    {% assign total_readtime = total_readtime | plus: readtime %}
    {% if post.featured %}
    {% assign featuredcount = featuredcount | plus: 1 %}
    {% endif %}
{% endfor %}
<!-- This is my personal blog and currently has {{ site.posts | size }} posts in {{ site.categories | size }} categories which combinedly have {{ total_words }} words, which will take an average reader ({{ site.wpm }} WPM) approximately <span class="time">{{ total_readtime }}</span> minutes to read. {% if featuredcount != 0 %}There are <a href="{{ site.baseurl }}/featured">{{ featuredcount }} featured posts</a>, you should definitely check those out.{% endif %} -->
